<% provide(:title, "#{@patient.name}'s Emergency Summary") %>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Transferring Facility</strong></td>
    </tr>
    <tr>
      <td><%=@facility.name%></td>
    </tr>
    <tr>
      <td><strong>Patient Information</strong></td>
    </tr>
    <tr>
      <td>First Name<br><br><%=@patient.first_name%></td>
      <td>Middle Name<br><br><%=@patient.middle_name%></td>
      <td>Last Name<br><br><%=@patient.last_name%></td>
      <td>Medical Record<br>(MR)<br><%=@patient.mr%></td>
    </tr>
    <tr>
      <td><strong>Summary</strong></td>
    </tr>
    <tr>
      <td>
        This <%=@patient.age%> years old <%=@patient.gender%> was admitted to <%=@facility.name%> on <%=@patient.admission.date%> at <%=@patient.admission.time%> due to the following: <%=@patient.parsed_data_with_code('diagnoses')%>.
        The observed symptoms on admission were <%=@patient.parsed_data('symptoms')%>. <%=@patient.parsed_data('observations')%>.
        Upon asking about known allergies, the patient disclosed <%=@patient.parsed_data('allergies')%>. Upon asking about chronic conditions, the patient disclosed
        <%=@patient.parsed_data_with_code('chronic_conditions')%>. The patient was administered with <%=@patient.parsed_medication_order%>.
        The staff performed <%=@patient.parsed_diagnostic_procedure%>, revealing <%=@patient.parsed_data_with_code('diagnoses')%>. Our team proceeded to <%=@patient.parsed_treatment%>.
      </td>
    </tr>
  </tbody>
</table>
